@use 'functions' as fn;

// COLORS
$color-primary: #009580;
$color-primary-2: #144c44;

//GREEN COLORS
$green-1: #e5f4f2;

//GREY COLORS
$pure-white: #ffffff;

$gray: #e4e7eb;
$gray-100: #f5f7fa;
$gray-200: #ededee;
$gray-300: #c0c0c0;
$gray-400: #818181;
$gray-500: #47464a;
$gray-600: #626364;
$gray-700: #464f58;
$gray-800: #1f2933;
$gray-900: #202020;

// RED COLORS
$red: #ea5555;

// TYPOGRAPHY

$main-font-family: 'Poppins', sans-serif;
$text-color: $gray-800;

// UTILITIES

$max-width: fn.pxToRem(1440);
$header-height: fn.pxToRem(80);

// MEDIA-QUERY

$desktop: 112.5em; // 1800px
$laptop: 90em; // 1440px
$laptop-medium: 64em; // 1024px
$tablet: 48em; //768px
$mobile-large: 26.563em; //425px
$mobile-medium: 23.438em; //375px
$mobile-small: 20em; //320px
